// -------------- THEME SWITCHER -------------- //
@mixin invertable($invert-value) {

  img,
  video,
  iframe,
  pre {
    &.invertable {
      filter: invert($invert-value);
    }
  }
}

@mixin dark-appearance {
  filter: invert(1);

  img,
  video,
  iframe,
  pre {
    filter: invert(1);
  }

  @include invertable(0);

  code,
  pre>code {
    background-color: black;
    color: white;
    filter: invert(0);
  }
}

@mixin light-appearance {
  @include invertable(1);
}

body[theme="dark"] {
  @include dark-appearance;
}

body[theme="light"] {
  @include light-appearance;
}

@media (prefers-color-scheme: dark) {
  body[theme="auto"] {
    @include dark-appearance;
  }

  .dark-mode-invert {
    filter: invert(1);
  }
}

@media (prefers-color-scheme: light) {
  body[theme="auto"] {
    @include light-appearance;
  }
}

// -------------------------------------------- //

.compact-pre {
  background-color: black;
  color: white;
  padding: 10px;
  line-height: 1.2;
  font-family: monospace;
  margin: 0;
  white-space: pre;
  overflow-x: scroll;
}

iframe.no-input {
  pointer-events: none;
}

*,
*::before,
*::after {
  border-radius: 0 !important;
}

html,
body {
  background: white;
}

html {
  height: 100%;
}

body {
  color: black;
  font-family: monospace;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-wrap: normal;
  padding: 0.5rem 1rem;
  overflow-x: hidden;
}

a:link,
a:visited,
a:active,
a:hover {
  color: black;
}

p {
  font-size: 1.3rem;
  margin: 1rem 0;
}

h2,
h3,
h4,
h5,
h6 {
  break-after: avoid-page;
  margin-top: 3rem;
}

img,
svg,
table,
canvas {
  break-inside: avoid;
}

video {
  width: 100%;
}

@page {
  size: Letter portrait;
  margin: lin;
}

hr {
  margin: 2rem 0;
  text-align: left;
  border: 0;

  &:before {
    content: '/////'
  }

  &:after {
    content: attr(data-content) '/////'
  }
}

li {
  margin: 0.4rem 0;
}

*:target {
  background: yellow;
}

.w {
  max-width: 100%;
}

table {
  width: 100%;
  border: thin solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;

  p {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.footnote-definition {
  padding: 0 1rem;

  &:target {
    background: yellow;
    color: #212121;
  }

  p {
    display: inline;
  }
}

nav,
.taxonomies {
  text-align: center;
}

.post-meta {
  text-align: left;
}

@media print {
  a::after {
    content: " (" attr(href) ")";
  }
}