.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/.trash/
content/.obsidian/

# these files are downloaded by the CI
rustup.sh
wasmpack.sh
bun.sh
pnpm.sh

content/js
content/tools/*/*.wasm
content/tools/*/*.js
