.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/js

content/misc/plaintext/blogs.txt
content/misc/plaintext/graphics-resources.txt
content/misc/plaintext/talks.txt
content/misc/media/index.md
content/misc/media/chords.*

content/tools/*/*.wasm
content/tools/*/*.js

content/.trash/
content/.obsidian/