.DS_Store
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/.trash/
content/.obsidian/

# these files are downloaded by the CI
rustup.sh

content/js
content/tools/wasm/
content/tools/*.wasm
content/tools/*.js
content/tools/*.LICENSE.txt