*, *::before, *::after {
    border-radius: 0 !important 
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    line-height: 1.5;
    color: hsl(0, 0%, 85%);
    background-color: hsl(0, 0%, 0%);
    padding: 0.5rem 1rem;
}
p{
    font-size: 1.3rem;
}
a:link {
    color: rgba(255, 255, 255, 0.75);
}
a:hover {
    color: #fff;
}
a:visited {
    color: #fff;
}
@media (prefers-color-scheme: dark) {
    .day.dark-scheme {
        background-color: hsl(200, 3%, 12%);
        color: hsl(0, 0%, 85%);
   }
    .night.dark-scheme {
        background: black;
        color: #ddd;
   }
}
@media (prefers-color-scheme: light) {
    .day.light-scheme {
        background: white;
        color: #555;
   }
    .night.light-scheme {
        background: #eee;
        color: black;
   }
}
video {
    width: 100%;
}
.invert-colors {
    filter: invert(1);
}
@media print {
}
@page {
    size: Letter portrait;
    margin: lin;
}
h2,h3,h4,h5,h6 {break-after: avoid-page;}
img, svg, table, canvas {break-inside: avoid;}
a::after {content: " (" attr(href) ")";}