body {
  font-family: sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  vertical-align: top;
  padding: 5px;
}

input {
  width: 95%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
