:root {
  --white-key-height: 100px;
  --white-key-width: calc(var(--white-key-height) * (23 / 120));
  --black-key-width: calc(var(--white-key-width) * (15 / 23));
  --black-key-height: calc(var(--white-key-height) * (80 / 120));
}

.container {
  display: flex;
}

.keyboard {
  display: flex;
  flex-direction: row;
}

.octave {
  display: flex;
  position: relative;
}

.white-key {
  background-color: #fff;
  border: 1px solid #000;
  height: var(--white-key-height);
  width: var(--white-key-width);
  display: inline-block;
  position: relative;
  z-index: 1;
  outline: 2px solid #000;
}

.black-key {
  background-color: #000;
  height: var(--black-key-height);
  width: var(--black-key-width);
  position: absolute;
  margin-left: -7.5px;
  z-index: 2;
  outline: 2px solid #000;
}

.white-key:nth-child(1) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (17.5 / 120));
}

.white-key:nth-child(3) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (40.5 / 120));
}

.white-key:nth-child(5) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (88.5 / 120));
}

.white-key:nth-child(6) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (92.5 / 120));
}

.white-key:nth-child(8) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (117.5 / 120));
}

.white-key:nth-child(10) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (141.5 / 120));
}

.white-key:nth-child(12) ~ .black-key {
  margin-left: calc(var(--white-key-height) * (180.5 / 120));
}

.white-key.key-active {
  background: #a0a0a0;
}

.black-key.key-active {
  background: #404040;
}

.key-marked {
  background: #d77914;
}

.key-active.key-marked {
  background: #92520d;
}

#markedButtons {
  display: none;
}

.keyboard {
  padding-top: 20px;
}
