name: Update
on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "update_and_lint"
  cancel-in-progress: true

jobs:
  update_and_lint:
    if: ${{ github.actor != 'github-actions[bot]' && !contains(github.event.head_commit.message, 'update_and_lint') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          token: ${{ secrets.TOKEN }}
          submodules: recursive

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      # - name: setup node
      #   uses: actions/setup-node@v4.2.0
      #   with:
      #     node-version: 23

      # - name: python
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: 3.13

      # - name: dependencies
      #   run: |
      #     ./scripts/dependencies.sh

      - name: cache venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: wasm/tuningplayground/venv
          key: ${{ runner.os }}-venv

      - name: cache pycache
        id: cache-pycache
        uses: actions/cache@v4
        with:
          path: wasm/tuningplayground/__pycache__
          key: ${{ runner.os }}-pycache

      - run: |
          nix flake update
          nix develop . --command sh -c "rustup update; ./scripts/update_and_lint.sh && ./scripts/commit.sh"
